    :root {
    --branco:  white;
    --cor-texto-destaque: orange;
    }

    body {
         background-color: var(--fundo);
    }

    footer {
        position: fixed;
        bottom: 0;
        background-color: var(--preto);
        color: var(--branco);
        widht: 100%
        text-align: center;
    }    

    #container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 4rem;
        gap: 3rem;  
    }

    .cartao{
        flex-grow: 1;
        flex-basis: calc(33% - 6rem);
    }

    .cartao_conteudo {
        background-color: var(--caixa-cor-frente);
        text-align: center;
        color: var(--branco);
    }

    .cartao_conteudo h3 {
        border: 1px solid var(--cor-texto-destaque);
        padding: 0.5rem;
        position: absolute;
        margin: 0.5rem;
    }

    .cartao_conteudo p {
        margin-top: 3rem;
        padding: 2rem;
        padding-top: 4rem;
    }