    :root {
        --caixa-cor-frente: #5a41c7;
        --caixa-cor-verso: #891fb3;
        --fundo: black;
        --preto: black;
        --branco: black;
        --cor-texto-destaque: black;
    }
    

    body {
         background-color: var(--fundo);
    }

    footer {
        position: fixed;
        bottom: 0;
        background-color: var(--preto);
        color: var(--branco);
        widht: 100%
        text-align: center;
    }    

    #container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 4rem;
        gap: 3rem;  
    }

    .cartao{
        flex-grow: 1;
        flex-basis: calc(33% - 6rem);
    }

    .cartao_conteudo {
        background-color: var(--caixa-cor-frente);
        text-align: center;
        color: var(--branco);
    }

    .cartao_conteudo h3 {
        border: 1px solid var(--cor-texto-destaque);
        padding: 0.5rem;
        position: absolute;
        margin: 0.5rem;
    }

    .cartao_conteudo p {
        margin-top: 3rem;
        padding: 2rem;
        padding-top: 4rem;
    }

    .cartao_conteudo_resposta{
        background-color: var(--caixa-cor-verso);
        transform: rotateY('180deg');
        border: 1px solid var(--cor-texto-destaque);
    }                

    .cartao.active  .cartao_conteudo{
        transform: rotateY('180deg');
    }

    .cartao_conteudo_pergunta, .cartao_conteudo_resposta{
        backface-visibility: hidden;
        position: absolute;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
    }

    function criaCartao(categoria, pergunta, resposta) {
        let container = document.getElementById('container')
        let cartao = document.createElement('article')
        cartao.className = 'cartao'
    
        cartao.innerHTML = `
        <div class="cartao__conteudo">
        <h3>${categoria}</h3>
        <div class="cartao__conteudo__pergunta">
            <p>${pergunta}</p>
        </div>
        <div class="cartao__conteudo__resposta">
            <p>${resposta}</p>
        </div>
        </div>
        `
    
        let respostaEstaVisivel = false
    
        function viraCartao() {
            respostaEstaVisivel = !respostaEstaVisivel
            cartao.classList.toggle('active', respostaEstaVisivel)
        }
        cartao.addEventListener('click', viraCartao)
    
    
        container.appendChild(cartao)
    
    }